<!DOCTYPE html>
<html>

<head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div style="width: 25%;">
            <a class="navbar-brand text-primary">Blog On Rails</a>
        </div>

        <div style="width: 75%;">
            <div class="float-right" style="width: 22%;">
                <div class="d-flex justify-content-around">
                    <a href="/">
                        <h5 class="nav-item text-primary">Home</h5>
                    </a>
                    <a href="/posts/new">
                        <h5 class="nav-item text-primary">New Post</h5>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <%= yield %>

</body>

</html>